html {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', system-ui;
    min-height: 100vh;
}

main {
    display: flex;
    min-height: 100vh;
}

#menu {
    background-color: #275087;
    min-height: 100vh;
    width: 15%;
    padding: 3rem 0;
}

#menu .m-text {
    color: #FFF;
    text-align: center;
    margin: 2rem 1.5rem;
}

#menu .m-text p{
    margin: 0;
    font-size: 0.9rem;
    color: #F8B739;
}

#menu img {
    display: block;
    margin: 0 auto;
    width: 120px;
    border: 0.1rem solid #FFF;
    border-radius: 50%;
}

#menu .icon {
    width: 15px;
    margin: 0 0.5rem;
}

#menu nav {
    display: block;
    margin-top: 2rem;
}

#menu nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu nav ul li {
    background-color: #FFF;
    text-align: start;
    display: flex;
}

#menu nav ul li:hover {
    background-color: #EEE;
}

#menu nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 0.5rem;
    font-size: small;
}

#content {
    background: #FAFAFA;
    min-height: 100vh;
    width: 85%;
    padding: 0.5rem;
}

#content-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#content-header #logo {
    display: grid;
    justify-content: left;
    align-content: center;
    padding-left: 2rem;
}

#content-header #button-calendar {
    display: grid;
    justify-content: right;
    align-content: center;
    padding-right: 2rem;
}

#content-header #button-calendar button {
    background-color: #275087;
    color: #FFF;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#content-1 {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #000000;
}