{% extends 'layout.html' %}

{% block content %}
    <p>Crear curso</p>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            background-color: #F8B739;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }
    
        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
    
        table {
            width: 100%;
            margin-bottom: 15px;
        }
    
        tr {
            margin-bottom: 10px;
        }
    
        label {
            display: block;
            margin-bottom: 5px;
        }
    
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
    
        button {
            background-color: #275087;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }
    
        button:hover {
            background-color: #1b1919;
        }
    </style>
    
    <form action="{% url 'crear_curso' %}"  method="POST"  class="form-container" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-title">Crear curso</h2>
    
        <table class="form-table">
            <tr class="form-row">
                <td><label for="cod" class="form-label">Codigo:</label></td>
                <td><input type="text" id="cod" name="cod" required class="form-input"></td>
            </tr>
            <tr class="form-row">
                <td><label for="nombre" class="form-label">Nombre:</label></td>
                <td><input type="text" id="nombre" name="nombre" required class="form-input"></td>
            </tr>
            <tr class="form-row">
                <td><label for="horas" class="form-label">Horas:</label></td>
                <td><input type="text" id="horas" name="horas" required class="form-input"></td>
            </tr>
            <tr class="form-row">
                <td><label for="creditos" class="form-label">creditos:</label></td>
                <td><input type="number" id="creditos" name="creditos" required class="form-input"></td>
            </tr>
            <tr class="form-row">
                <td><label for="fecha_registro" class="form-label">Fecha de registro: </label></td>
                <td><input type="datetime" id="fecha_registro" name="fecha_registro" required class="form-input"></td>
            </tr>
            <tr class="form-row">
                <td><label for="estado" class="form-label">Estado: </label></td>
                <td><input type="text" id="estado" name="estado" required class="form-input"></td>
            </tr>            
        </table>
        <button type="submit" class="form-button">Guardar Curso</button>
    </form>
{% endblock %}